@model CoachViewModel
@{
    ViewData["Title"] = "CoachPage";
}
@section Styles
{
    <link href="@Url.Content("~/css/CoachPageStyle.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script src="~/js/CoachPage.js"></script>
}

<div class="container">
    <div class="container-fluid" style="background-color: white; border-radius: 25px;">
        <div class=" text-center">
            <h1 style="color: #0082CA">Coach Page</h1>
            <h4 class="text-center"> Check all your STARR Forms</h4>
            </div>
        <hr/>
        <br/>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for STARR by title" title="Type in a name">
        <ul id="myUL">
            @foreach (var starr in @Model.Starrs)
            {
                <li><a href="#">@starr.Name</a></li>
            }  
        </ul>
        <br/>
    </div>
</div>

