	body {
	    background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

	.navbar-brand img {
	    height: 50px;
	    width: 200px;
	}
	.nav a{
	    color: white !important;
	}
	.container{
	    margin-right: auto;
	    margin-left: auto;
	}
	h4 ,p {
	    color: #0082CA;
	}
	.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	    background-color: #6195e8;
	    color: red;
	}
    .language-icon{
        width: 20px;
        height: auto;
    }
