

.logo-small {
    color: #0082CA;
    font-size: 50px;
}

.formwrapper {
    margin-left: 20px;
    margin-right: 20px;
}

#smileys input[type="radio"] {
    -webkit-appearance: none;
    width: 90px;
    height: 90px;
    border: none;
    cursor: pointer;
    -webkit-transition: border .2s ease;
    transition: border .2s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0 5px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

#smileys input[type="radio"]:hover, form#smileys input[type="radio"]:checked {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
#smileys input[type="radio"]:focus {
    outline: 0;
}

#smileys input[type="radio"].happy {
    background: url("https://res.cloudinary.com/turdlife/image/upload/v1492864443/happy_ampvnc.svg") center;
    background-size: cover;
}

#smileys input[type="radio"].neutral {
    background: url("https://res.cloudinary.com/turdlife/image/upload/v1492864443/neutral_t3q8hz.svg") center;
    background-size: cover;
}

#smileys input[type="radio"].sad {
    background: url("https://res.cloudinary.com/turdlife/image/upload/v1492864443/sad_bj1tuj.svg") center;
    background-size: cover;
}

.mtt {
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: #999;
    text-decoration: none;
}

.mtt span {
    color: #e74c3c;
}

.mtt:hover {
    color: #666;
}

.mtt:hover span {
    color: #c0392b;
}

textarea {
    resize: none;
}